{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Assign Award</h2>
    <br>
    <form id="create-task-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div>
        <div style="float: left;">
          <p style="font-size: 1.2em; margin-left: 30px;">Class &emsp; &emsp; &emsp; {{ class_name }}</p>
          <p>
            {{ form.student_names.label }}
            {{ form.student_names() }}
            {% for error in form.student_names.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.reward.label }}
            {{ form.reward()}}
            {% for error in form.reward.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.comment.label }}<br>
            {{ form.comment(style="margin-left: 30px;")}}
            {% for error in form.reward.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
        </div>
        <div class="badges">
          <p>
            {{ form.images.label }}
          </p>
          <div class="badges-container">
            {% for image in form.images %}
            <td>{{image}}</td>
            <!-- <p hidden="true">{{image.label}}</p> -->
            <img class="badge-image" src="{{url_for('static', filename='images/badge_images/' + image.data)}}" />
            <br>
            {% endfor %}
          </div>
          {% for error in form.images.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div style="position: absolute; bottom: 60px; margin-left: 30px;">
          {{ form.submit() }}
        </div>
    </form>
  </div>
</div>
{% endblock %}
