{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick="goBack()">
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Give Award</h2>
    <br>
    <form id="create-task-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        Class Name: {{ class_name }}
        <br>
      </p>

      <p>
        {{ form.student_names.label }}<br>
        {{ form.student_names() }}
        {% for error in form.student_names.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
  
      <p>
        {{ form.reward.label }}<br>
        {{ form.reward()}}
      </p>
      
      <br>
      <p>
        {{ form.comment.label }}<br>
        {{ form.comment()}}
        Badges:
        {% for image in form.images %}
          <td>{{image}}</td>
          <p hidden="true">{{image.label}}</p>
          <img src="{{url_for('static', filename='badge_images/' + image.data)}}"/>
          <br>
        {% endfor %}
      </p>
      <div style="text-align: center">
        <p>{{ form.submit() }}</p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
