{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
    <a href="{{ url_for('task_list') }}">
      <h2>Tasks</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>New Task</h2>
    <br>
    <form id="create-task-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.title.label }}
        {{ form.title() }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.class_id.label }}
        {{ form.class_id() }}
        {% for error in form.class_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.resource_id.label }}
        {{ form.resource_id() }}
        {% for error in form.resource_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <br>
      <p>
        {{ form.details.label }}<br>
        {{ form.details() }}
      </p>
      <p>
        {{ form.points.label }}<br>
        {{ form.points() }}
        {% for error in form.points.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.required_approval.label }}<br>
        {{ form.required_approval() }}
        {% for error in form.class_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <br>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
</div>
{% endblock %}
