{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>New Task</h2>
    <br>
    <form id="create-task-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.title.label }}
        {{ form.title(maxlength="128") }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.class_id.label }}
        {{ form.class_id() }}
        {% for error in form.class_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.resource_id.label }}
        {{ form.resource_id() }}
        {% for error in form.resource_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.details.label }}<br>
        {{ form.details(maxlength="300", style="margin-left: 30px;") }}
      </p>
      <p>
        {{ form.points.label }}
        {{ form.points(style="width: 70px;") }}
        {% for error in form.points.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>

      <p>
        {{ form.required_approval.label(style="width: 180px;") }}
        {{ form.required_approval() }}
        {% for error in form.class_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>

      <div style="text-align: center">
        <p>{{ form.submit() }}</p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
