<div class="loginContainer">
  <a id=loginButton href="{{ url_for('logout') }}" style="color: black">
    <button class="loginButton">
      <text id="buttonText">Logout</text>
    </button>
  </a>
</div>
<header>
  <img src="static/images/friendlytree.jpg" alt="tree logo">
  <h1>EcoAssist</h1>
</header>

<script>
  window.onload = function() {
    var logged_in = "{{ session['logged_in'] }}"

    if (logged_in === "False") {
      console.log("not logged in");
      $("#buttonText").text('Login');
      $("#loginButton").attr('href', '/login');
    }
  };
</script>
