<header>
  <div class="login-button-container">
    <a id=loginButton href="{{ url_for('logout') }}" style="color: black">
      <button class="login-button">
        <text id="buttonText">Logout</text>
      </button>
    </a>
  </div>
  <a href="{{ url_for('home') }}">
    <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="EcoAssist logo">
  </a>
</header>

<script>
  window.onload = function() {
    var logged_in = "{{ session['logged_in'] }}"

    if (logged_in !== "True") {
      console.log("not logged in");
      $("#buttonText").text('Login');
      $("#loginButton").attr('href', '/login');
    }
  };
</script>
