{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Learn</h2>
    <br>
    {% for resource in resource_list %}
    <div class="learn">
      <h3>{{resource.resource_title}}</h3>
      {% if resource.resource_title == "Pollution" %}
      <img src="static/images/learn_images/pollution.jpg" alt="pollution">
      <br>
      <br>
      <h4>Plastic pollution is different from paper or food waste because it never fully decomposes,
      or breaks down...</h4>
      {% elif resource.resource_title == "Deforestation" %}
      <img src="static/images/learn_images/deforestation.png" alt="deforestation">
      <br>
      <br>
      <h4>Deforestation is when forests are cleared, or cut down. This describes the actions of humans
      in removing forests...</h4>
      {% endif %}
      <button class="learn-button" onclick="location.href='{{ url_for('learn') }}/{{resource.resource_id}}'" name="learn-more" type="button">Learn More</button>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
