{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
    <a href="{{ url_for('task_list') }}">
      <h2>Tasks</h2>
    </a>
    <a href="{{ url_for('learn') }}">
      <h2>Learn</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Learn - {{resource.resource_title}}</h2>
    <br>
    <div class="learn">
      <h3>{{resource.resource_title}}</h3>
      {% if resource.resource_title == "Pollution" %}
      <img src="{{ url_for('static', filename='images/pollution.jpg') }}"" alt=" pollution">
      {% elif resource.resource_title == "Deforestation" %}
      <img src="{{ url_for('static', filename='images/deforestation.png') }}" alt="deforestation">
      {% endif %}
      <br>
      <br>
      <h4>{{resource.resource_detail}}</h4>
    </div>
  </div>
</div>
{% endblock %}
