{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Manage Class</h2>
    <br>
    <p>Class | {{ teacher_classes.class_name }} &emsp; Code | {{ teacher_classes.class_code }}</p>
    <table class="css-serial">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Status</th>
        <th>Pending Tasks</th>
      </tr>
      {% for student in student_list %}
      <tr>
        <td></td>
        <td>
          {% if student_list[student][0] == 'accepted' %}
          <button class="btn-green" onclick="location.href='{{ url_for('manage_student', id=student.id) }}'" type="button">{{student.first_name}} {{student.last_name}}</button>
          {% else %}
          {{student.first_name}} {{student.last_name}}
          {% endif %}
        </td>

        {% if student_list[student][0] == 'pending' %}
        <td>
          <p>Pending</p>
          <button onclick="" style="border-color: #78c288;" class="btn-border approve_student" id={{student.id}}>Accept</button>
          <button onclick="" style="border-color: #ed7b6f;" class="btn-border reject_student" id={{student.id}}>Reject</button>
        </td>
        {% else %}
        <td>Accepted</td>
        {% endif %}
        <td>{{student_list[student][1]}}</td>
        <!-- <td>
          {% if student_list[student][0] == 'accepted' %}
          <button class="btn-border" onclick="location.href='{{ url_for('manage_student', id=student.id) }}'" type="button">Manage Student</button>
          {% endif %}
        </td> -->
      </tr>
      {% endfor %}
    </table>
    <br>

    <button class="btn-border" onclick="location.href='{{ url_for('leaderboard', id=teacher_classes.class_id) }}'" type="button">Leaderboard</button>
    <button class="btn-border" onclick="location.href='{{ url_for('task_list', id=teacher_classes.class_id) }}'" type="button">Tasks</button>
    <button class="btn-border" onclick="location.href='{{ url_for('create_task', id=teacher_classes.class_id) }}'" type="button">New Task</button>

  </div>
</div>

{% block javascript %}
<script>
  $(document).ready(function() {
    $('.approve_student').click(function() {
      console.log("here");
      var id = $(this).attr("id");
      var url = `${window.location.origin}/approve-student/${id}`;

      console.log(id);
      console.log(url);
      $.ajax({
        url: url,
        // type: 'DELETE',
      }).done(function(data) {
        location.reload();
      });
    });

    $('.reject_student').click(function() {
      var id = $(this).attr("id");
      var url = `${window.location.origin}/reject-student/${id}`;

      console.log(id);
      console.log(url);
      $.ajax({
        url: url,
        // type: 'DELETE',
      }).done(function(data) {
        location.reload();
      });
    });
  });

  // $(document).ready(function() {
  //
  // });
</script>
{% endblock %}
{% endblock %}
