{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Manage Student - {{ user.first_name }} {{ user.last_name }}</h2>
    <div>
      <button class="btn-icon" onclick="location.href='{{ url_for('give_award_directly', id=student.student_id) }}'">
        Assign Award<i class="fa fa-plus" style="padding-left:10px;"></i></button>
      <button class="btn-icon" onclick="location.href='{{ url_for('student_profile', id=user.id) }}'" type="button">Profile</button>
    </div>
    <div class="tab">
      <button class="tablinks" onclick="openList(event, 'Pending')" id="defaultOpen">Pending</button>
      <button class="tablinks" onclick="openList(event, 'Completed')">Completed</button>
      <button class="tablinks" onclick="openList(event, 'Incomplete')">Incomplete</button>
      <button class="tablinks" onclick="openList(event, 'Rejected')">Rejected</button>
    </div>

    <div id="Pending" class="tabcontent">
      <table>
        <tr>
          <th>Task Name</th>
          <th>Task Point</th>
          <th></th>
        </tr>
        {% for task in pending %}
        <tr>
          <td>{{task.task_name}}</td>
          <td>{{task.points}}</td>
          <td>
            <button onclick="" style="border-color: #78c288" class="btn-border approve_task" id={{pending[task]}}>Approve</button>
            <button onclick="" style="border-color: #ed7b6f;" class="btn-border reject_task" id={{pending[task]}}>Deny</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div id="Completed" class="tabcontent">
      <table>
        <tr>
          <th>Task Name</th>
          <th>Task Point</th>
        </tr>
        {% for task in completed %}
        <tr>
          <td>{{task.task_name}}</td>
          <td>{{task.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div id="Incomplete" class="tabcontent">
      <table>
        <tr>
          <th>Task Name</th>
          <th>Task Point</th>
        </tr>
        {% for task in incomplete %}
        <tr>
          <td>{{task.task_name}}</td>
          <td>{{task.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div id="Rejected" class="tabcontent">
      <table>
        <tr>
          <th>Task Name</th>
          <th>Task Point</th>
        </tr>
        {% for task in rejected %}
        <tr>
          <td>{{task.task_name}}</td>
          <td>{{task.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <br>
  </div>
</div>

{% block javascript %}
<script>
  $(document).ready(function() {
    $('.approve_task').click(function() {
      var id = $(this).attr("id");
      var url = `${window.location.origin}/approve-task/${id}`;

      console.log(id);
      console.log(url);
      $.ajax({
        url: url,
        // type: 'DELETE',
      }).done(function(data) {
        location.reload();
      });
    });
  });

  $(document).ready(function() {
    $('.reject_task').click(function() {
      var id = $(this).attr("id");
      var url = `${window.location.origin}/reject-task/${id}`;

      console.log(id);
      console.log(url);
      $.ajax({
        url: url,
        // type: 'DELETE',
      }).done(function(data) {
        location.reload();
      });
    });
  });

  function openList(evt, status) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(status).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
{% endblock %}
{% endblock %}
