{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    {% if role == 'Teacher' or student_status == 'accepted' %}
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
    {% endif %}
  </div>
  <div class="inner-content">
    {% if role == 'Student' and student_status == 'accepted' %}
    {% if session['role'] == 'teacher' %}
    <h2>Student's Profile</h2>
    {% else %}
    <h2>My Profile</h2>
    {% endif %}
    {% else %}
    <h2>My Profile</h2>
    {% endif %}
    <br>
    <div class="my-profile">
      <div id="profile-image">
      <img src="{{ url_for('static', filename='images/home_icons/profile.png') }}" alt="Profile">
      </div>
      <div>
        <h3>{{first_name}} {{last_name}}</h3>
        <br>
        <p><b>Email:</b> {{email}}</p>
        <p><b>Role:</b> {{role}}</p>
        <p><b>School:</b> {{school}}</p>
        {% if role == 'Teacher' %}
        <p><b>Classes:</b></p>
        {%for x in classes%}
        <li style="padding-left:20px;">{{x.class_name}}</li>
        {% endfor %}
        {% elif role == 'Student' and student_status == 'accepted' %}
        <p><b>Class:</b> {{ class_name }}</p>
        {% endif %}
      </div>
      {% if role == 'Student' and student_status == 'accepted' %}
      <p><b>Points:</b> {{points}}</p>
      <p><b>Ranking:</b> {{ranking}} / {{total}}</p>
      {% elif role == 'Student' and student_status == 'pending' %}
      <p style="color:red;">Waiting for Approval</p>
      {% elif role == 'Student' and student_status == 'empty' %}
      <form class="p-4 bg-light" action='' method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.class_code.label }}<br>
          {{ form.class_code(size=32) }}
          {% for error in form.class_code.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    {% elif role == 'Teacher' %}
    <p></p>
    {% else %}
    <p>rejected</p>
    {% endif %}
    <br>
    {% if role == 'Student' and student_status == 'accepted' %}
    <button class="btn-border" onclick="location.href='{{ url_for('view_awards', id=user.id) }}'" type="button">Awards</button>
    {% if session['role'] == 'teacher' %}
    <button class="btn-border" onclick="location.href='{{ url_for('leaderboard', id=teacher_classes.class_id) }}'" type="button">Leaderboard</button>
    {% else %}
    <button class="btn-border" onclick="location.href='{{ url_for('leaderboard') }}'" type="button">Leaderboard</button>
    <button class="btn-border" onclick="location.href='{{ url_for('task_list')}}'" type="button">Tasks</button>
    {% endif %}
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
