{% extends "base.html" %}

{% block content %}
<div class='wrapper'>
    <div>
        <p>Home</p>
        <p>My Profile</p>

        <div class= my-profile>
            <h3>{{first_name}} {{last_name}}</h3>
            <p>Email  | {{email}}</p>
            <p>Role   | {{role}}</p>
            <p>School | {{school}}</p>
            <p>Classes:</p>
            {%for x in classes%}
                            <p>{{x.class_name}}</p>
            </p>
            {% endfor %}
        </div>
        <div>
            <p>points: {{points}}</p>
        </div>
        
        <div>
            <p>ranking: {{ranking}} / {{total}}</p>
        </div>
        <div>
            <p>badges:</p>
            {%for y in badge:%}
            <img src={{y.badge_location}}>
            {% endfor %}
            <!-- <img src={{badge[0].badge_location}}> -->
        </div>

        

    </div>
</div>
{% endblock %}
