{% extends "base.html" %}
{% block content %}
<div class='wrapper'>
  <h1>Completed</h1>
  <br>
  <table>
    <tr>
      <th>Task Name</th>
      <th>Task Point</th>
    </tr>
    {% for task in completed %}
    <tr>
      <td>{{task.task_name}}</td>
      <td>{{task.points}}</td>
    </tr>
    {% endfor %}
  </table>
  <h1>Uncompleted</h1>
  <table>
    <tr>
      <th>Task Name</th>
      <th>Task Point</th>
    </tr>
    {% for task in uncompleted %}
    <tr>
      <td>{{task.task_name}}</td>
      <td>{{task.points}}</td>
    </tr>
    {% endfor %}
  </table>
  <h1>Pending</h1>
  <table>
    <tr>
      <th>Task Name</th>
      <th>Task Point</th>
      <th>Approve</th>
    </tr>
    {% for task in pending %}
    <tr>
      <td>{{task.task_name}}</td>
      <td>{{task.points}}</td>
      <td>
      <button class="btn-task" onclick="location.href='{{ url_for('approve') }}/{{pending[task]}}'" type="button">Yes</button>
      <button class="btn-task" onclick="location.href='{{ url_for('reject') }}/{{pending[task]}}'" type="button">No</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  <h1>Rejected</h1>
  <table>
    <tr>
      <th>Task Name</th>
      <th>Task Point</th>
    </tr>
    {% for task in rejected %}
    <tr>
      <td>{{task.task_name}}</td>
      <td>{{task.points}}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
</div>
{% endblock %}
