{% extends "base.html" %}
{% block content %}
<div class='wrapper'>
  <h1>My Classes</h1>
  <br>
  <table>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>Manage</th>
    </tr>
    {% for student in student_list %}
    <tr>
      <td></td>
      <td>{{student.first_name}}</td>
      <td>
        <button class="btn-task" onclick="location.href='{{ url_for('student_task') }}/{{student.id}}'" type="button">Manage Student</button>

     </td>
    </tr>
    {% endfor %}
  </table>
  <br>
</div>
{% endblock %}
