{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick="goBack()">
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
    <a href="{{ url_for('class_list') }}">
      <h2>My Classes</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Tasks - {{ student.first_name }} {{ student.last_name }}</h2>
    <h3>Completed</h3>
    <table>
      <tr>
        <th>Task Name</th>
        <th>Task Point</th>
      </tr>
      {% for task in completed %}
      <tr>
        <td>{{task.task_name}}</td>
        <td>{{task.points}}</td>
      </tr>
      {% endfor %}
    </table>
    <h3>Incomplete</h3>
    <table>
      <tr>
        <th>Task Name</th>
        <th>Task Point</th>
      </tr>
      {% for task in uncompleted %}
      <tr>
        <td>{{task.task_name}}</td>
        <td>{{task.points}}</td>
      </tr>
      {% endfor %}
    </table>
    <h3>Pending</h3>
    <table>
      <tr>
        <th>Task Name</th>
        <th>Task Point</th>
        <th></th>
      </tr>
      {% for task in pending %}
      <tr>
        <td>{{task.task_name}}</td>
        <td>{{task.points}}</td>
        <td>
          <button onclick="" style="border-color: #78c288" class="btn-border approve_task" id={{pending[task]}}>Approve</button>
          <button onclick="" style="border-color: #ed7b6f;" class="btn-border reject_task" id={{pending[task]}}>Deny</button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <h3>Rejected</h3>
    <table>
      <tr>
        <th>Task Name</th>
        <th>Task Point</th>
      </tr>
      {% for task in rejected %}
      <tr>
        <td>{{task.task_name}}</td>
        <td>{{task.points}}</td>
      </tr>
      {% endfor %}
    </table>
    <br>
  </div>
</div>

{% block javascript %}
<script>
$(document).ready(function(){
    $('.approve_task').click(function(){
        var id = $(this).attr("id");
        var url = `${window.location.origin}/approve-task/${id}`;

        console.log(id);
        console.log(url);
        $.ajax({
          url: url,
          // type: 'DELETE',
        }).done(function(data) {
          location.reload();
        });
           });
      });

$(document).ready(function(){
    $('.reject_task').click(function(){
        var id = $(this).attr("id");
        var url = `${window.location.origin}/reject-task/${id}`;

        console.log(id);
        console.log(url);
        $.ajax({
          url: url,
          // type: 'DELETE',
        }).done(function(data) {
          location.reload();
        });
           });
      });
</script>
{% endblock %}
{% endblock %}
