{% extends "base.html" %}

{% block content %}
<div class='wrapper'>
  <h1 style="display:inline">Tasks</h1>
  {% if session['role'] == 'teacher' %}
  <button class="btn-icon" onclick="location.href='{{ url_for('create_task') }}'"><i class="fa fa-plus"></i></button>
  {% endif %}
  <br>
  <br>
  {% for task in tasks %}
  <div class="task">
    <h3>{{task.task_name}}</h3>
    <h4>{{task.points}} points</h4>
    <p>{{task.task_detail}}</p>
    <form method="post">
      {% if session['role'] == 'student' %}
        <button class="btn-task task-button" name="task-complete" id="{{task.task_id}}" type="button">Task Complete</button>
      {% endif %}
        <button class="btn-task" onclick="location.href='{{ url_for('learn') }}/{{task.resource_id}}'" name="learn-more" type="button">Learn More</button>
    </form>
  </div>
  {% endfor %}
</div>

{% block javascript %}
<script>
  $(function(){
  	$('button[name ="task-complete"]').click(function(){
  		var id = this.id;
      var self = this;
  		$.ajax({
  			url: '/task-completed',
  			data: {
          task_id: id,
        },
  			type: 'POST',
  			success: function(response){
          $(self).toggleClass("completed");
          // $(self).html("Task Completed")
          console.log(response)
  			},
  			error: function(error){
  				console.log(error);
  			}
  		});
  	});
  });
</script>
{% endblock %}
{% endblock %}
