{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Tasks</h2>
    {% for task in tasks %}
    <div class="task">
      <h2>{{task.0.task_name}}</h2>
      <br>
      <h3>{{task.0.points}} points</h3>
      <p>{{task.0.task_detail}}</p>
      {% if session['role'] == 'teacher' %}
      <p>Assigned to: Class {{task.1}}</p>
      {% endif %}
      <br>
      <br>
      <form method="post">
        {% if session['role'] == 'student' and task.2 %}
          {% if task.3 == 'pending' %}
          <button class="task-button pending" name="task-complete" id="{{task.0.task_id}}" type="button">Pending</button>
          {% elif task.3 == 'accepted' %}
          <button class="task-button completed" name="task-complete" id="{{task.0.task_id}}" type="button">Accepted</button>
          {% elif task.3 == 'rejected' %}
          <button class="task-button rejected" name="task-complete" id="{{task.0.task_id}}" type="button">Rejected</button>
          {% endif %}
        {% elif session['role'] == 'student' %}
        <button class="task-button incomplete" name="task-complete" id="{{task.0.task_id}}" type="button">Task Complete</button>
        {% endif %}
        <button class="task-button" onclick="location.href='{{ url_for('learn', id=task.0.resource_id) }}'" name="learn-more" type="button">Learn More</button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>

{% block javascript %}
<script>
  $(document).ready(function() {
    $('button[name ="task-complete"]').click(function() {
      var id = this.id;
      var self = this;
      var button = document.getElementById(id)
      console.log(button)
      $.ajax({
        url: '/task-completed',
        data: {
          task_id: id,
        },
        type: 'POST',
        success: function(response) {
          var data = $.parseJSON(response);

          console.log(data.task_status)
          if (data.task_status == "pending") {
            $('#' + id).text('Pending');
            $('#' + id).css('background-color', '#ebae34');
          } else if (data.task_status == "accepted") {
            $('#' + id).text('Accepted');
            $('#' + id).css('background-color', '#26c983');
          } else if (data.task_status == "rejected") {
            $('#' + id).text('Rejected');
          } else if (data.task_status == "delete") {
            $('#' + id).text('Task Complete');
            $('#' + id).css('background-color', '#FFFFFF');
            console.log("here")
          }

        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>
{% endblock %}
{% endblock %}
