{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="homeSidebar">
    <a href="{{ url_for('home') }}">
    <h2>Home</h2>
    </a>
    {% if session['role'] == 'teacher' %}
    <a href="{{ url_for('create_task') }}">
    <h2>New Task</h2>
    </a>
    {% endif %}
  </div>
  <div class="infoSection">
    <h2>Tasks</h2>
    {% if session['role'] == 'teacher' %}
    <br>
    {% endif %}
    <div class="infoContainer">
      {% for task in tasks %}
      <div class="task">
        <h2>{{task.0.task_name}}</h2>
        <br>
        <h3>{{task.0.points}} points</h3>
        <p>{{task.0.task_detail}}</p>
        {% if session['role'] == 'teacher' %}
        <p>Assigned to: Class {{task.1}}</p>
        {% endif %}
        <br>
        <br>
        <form method="post">
          {% if session['role'] == 'student' %}
          {% if task.2 %}
          <button class="taskButton completed" name="task-complete" id="{{task.0.task_id}}" type="button">Task Complete</button>
          {% else %}
          <button class="taskButton" name="task-complete" id="{{task.0.task_id}}" type="button">Task Complete</button>
          {% endif %}
          {% endif %}
          <button class="taskButton" onclick="location.href='{{ url_for('learn') }}/{{task.0.resource_id}}'" name="learn-more" type="button">Learn More</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% block javascript %}
<script>
  $(function() {
    $('button[name ="task-complete"]').click(function() {
      var id = this.id;
      var self = this;
      $.ajax({
        url: '/task-completed',
        data: {
          task_id: id,
        },
        type: 'POST',
        success: function(response) {
          $(self).toggleClass("completed");
          console.log(response)
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>
{% endblock %}
{% endblock %}
