{% extends "base.html" %}

{% block content %}
<div class='content'>
  <div class="side-bar-menu">
    <a onclick=goBack()>
      <h2>Back</h2>
    </a>
    <a href="{{ url_for('home') }}">
      <h2>Home</h2>
    </a>
  </div>
  <div class="inner-content">
    <h2>Awards</h2>
    <br>
    <table class="css-serial">
      <tr>
        <th></th>
        <th>Award Name</th>
        <th>Comments</th>
        <th></th>
      </tr>
      {% for badge in badge_list %}
      <tr>
        <td></td>
        <td>{{badge.badge_name}}</td>
        <td>{{badge.badge_comment}}</td>
        <td>
          <img src={{badge.badge_location}}>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
