body {
  width: 100%;
}

.wrapper {
  padding-top: 20px;
  width: 90%;
  margin: 0 100px auto;
  min-height: 80vh;
}

.btn {
  background-color: #38AD70;
  color: white;
  border: none;
  width: 180px;
  padding: 15px;
  text-align: center;
}

.btn-task {
  background-color: #FFFFFF;
  border: none;
  color: black;
  width: 180px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:active .task-button {
  background-color: #26c983;
}

.completed {
  background-color: #26c983;
}

.task {
  background-color: #8FD4B5;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 25%;
}

.learn {
  background-color: #ffd075;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 25%;
  height: 400px;
}

.btn-icon {
  margin-left: 20px;
  display:inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* ---------------------------- TABLE ----------------------------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ---------------------------- FOOTER ----------------------------*/
footer p {
  padding-top: 0px;
  padding-bottom: 30px;
  bottom:0px;
  margin: 0 auto
  position: absolute;
  text-align: center;
  flex: 0 0 50px;
  margin-top: auto;
}

footer {
  position:relative;
  height: auto;
}
