body, html {
  height: 100%;
}

@font-face {
  font-family: siteFont;
  src: url(../font/Amaranth-Regular.ttf);
}

/* ---------------------------- BASE CONTAINERS ----------------------------*/

.background {
  background-image: url(../images/environmentalbackground.jpg);
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: #FFFFFF;
  width: 70%;
  height: 90%;
  margin-bottom: 1%;
  border-radius: 49px;
  display: inline-block;
  text-align: center;
}

/* Side menu */
.side-bar-menu {
  width: 15%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #000000;
  float: left;
}

.side-bar-menu h2 {
  padding-left: 5px;
  padding-right: 5px;
}

/* Right of sidebar */
.inner-content {
  width: 85%;
  float: right;
}

/* Login and register page container
    (centering items with title header)*/
.inner-content-login {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home page container
    (centering items without title header)*/
.inner-content-home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------- TEXT ----------------------------*/

h1, h2, label, button, input, .content {
  font-family: siteFont, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

label, button {
  font-size: 1.2em;
}

p, li {
  font-size: 1.1em;
}

a {
  color: black;
}

/* ---------------------------- BUTTONS ----------------------------*/

/* Button with icon */
.btn-icon {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* Button with black border */
.btn-border {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* Teachers, students start here button */
.start-button {
  background-color: #FFFFFF;
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  border: 1px solid #FBF8F8;
  box-sizing: border-box;
  border-radius: 214px;
  position: absolute;
  text-align: center;
  padding: 5px 110px 5px 110px;
  left: 37%;
  font-size: 1.2em;
}

#teacher-button {
  top: 45%;
}

#student-button {
  top: 55%;
}

/* ---------------------------- HEADER ----------------------------*/
header {
  background-color: #FFFFFF;
  text-align: center;
}

header img {
  vertical-align: middle;
  height: 60px;
}

header h1 {
  color: #000000;
  text-align: center;
  margin: auto;
  display: inline;
}

.login-button-container {
  text-align: right;
}

.login-button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 20px;
  padding-top: 10px;
  background-color: #FFFFFF;
  border: none;
}

/* ---------------------------- FORM ----------------------------*/

form > p > label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

#create-task-form label {
  display: inline-block;
  width: 120px;
  text-align: center;
}

input, select {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}

textarea {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 39px;
  width: 300px;
  height: 100px;
  padding: 10px;
}

input[type="submit"] {
  padding: 10px 50px 10px 50px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* ---------------------------- HOME PAGE ----------------------------*/

/* Welcome text section to the left */
.welcome {
  width: 30%;
  height: 100%;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  border-right: 1px solid #000000;
  float: left;
}

.welcome h2 {
  border: none;
}

/* Home page menu links */
.home-links {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.homeImageContainer {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
}

.homeImageContainer img {
  width: 65%;
  height: auto;
}

.homeImageContainer h2 {
  border: none;
  display: block;
  margin: 0px;
  font-size: 27px;
}

/* ---------------------------- TASK LIST ----------------------------*/

.task {
  width: 300px;
  /* background: linear-gradient(180deg, #75C286 0%, rgba(255, 255, 255, 0) 100%), #A5FFB9; */
  background: #8FD4B5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

.task-button {
  width: 200px;
  background-color: #FFFFFF;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
}

.completed {
  background-color: #26c983;
}

/* ---------------------------- LEARN ----------------------------*/

.learn {
  width: 35%;
  height: 400px;
  background: #ffd075;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 15px;
  margin-right: 15px;
}

.learn img {
  width: 80%;
}

.learn-button {
  width: 200px;
  background-color: #FFFFFF;
  border: none;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* ---------------------------- PROFILE ----------------------------*/

.my-profile {
  text-align: left;
  padding-left: 50px;
}

.my-profile img {
  width: 25%;
  height: auto;
  float: left;
  padding-bottom: 100px;
  padding-right: 30px;
}

/* ---------------------------- TABLE ----------------------------*/
table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
  background: transparent;
}

/*adding row numbers through css*/
.css-serial {
  counter-reset: serial-number;
  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;
  /* Increment the serial number counter */
  content: counter(serial-number);
  /* Display the counter */
}
