.wrapper {
  padding-top: 20px;
  width: 90%;
  margin: 0 100px auto;
  min-height: 80vh;
}

.btn {
  background-color: #38AD70;
  color: white;
  border: none;
  width: 180px;
  padding: 15px;
  text-align: center;
}

.btn-task {
  background-color: #FFFFFF;
  border: none;
  color: black;
  width: 180px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:active .task-button {
  background-color: #26c983;
}

.completed {
  background-color: #26c983;
}

.task {
  background-color: #8FD4B5;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 25%;
}

.learn {
  background-color: #ffd075;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 25%;
  height: 400px;
}

.btn-icon {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* ---------------------------- NEW ----------------------------*/
@font-face {
  font-family: siteFont;
  src: url(../font/Amaranth-Regular.ttf);
}

body, html {
  height: 100%;
}

.background {
  background-image: url(../images/environmentalbackground.jpg);
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contentContainer h2 {
  border-bottom: 1px solid #000000;
}

.content {
  background-color: #FFFFFF;
  width: 70%;
  height: 90%;
  margin-bottom: 1%;
  border-radius: 49px;
  display: inline-block;
  text-align: center;
}

.inner-content {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content-home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, label, button, input, .content {
  font-family: siteFont, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  padding-bottom: 10px;
}

label, button {
  font-size: 1.2em;
}

p, li {
  font-size: 1.1em;
}

/* ---------------------------- HEADER ----------------------------*/
header {
  background-color: #FFFFFF;
  text-align: center;
}

header img {
  vertical-align: middle;
  height: 60px;
}

header h1 {
  color: #000000;
  text-align: center;
  margin: auto;
  display: inline;
}

/* ---------------------------- LOGIN ----------------------------*/
.loginContainer {
  text-align: right;
}

.loginButton {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 20px;
  padding-top: 10px;
  background-color: #FFFFFF;
  border: none;
}

/* ---------------------------- FORM ----------------------------*/

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

input[type=text], input[type=password], input[type=textarea], input[type="submit"], select {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 39px;
}

input, select {
  padding: 10px;
  margin: 10px 10px 10px 10px;
}

input[type="submit"] {
  padding: 10px 50px 10px 50px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* ---------------------------- HOME PAGE ----------------------------*/

.startButton {
  background-color: #FFFFFF;
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  border: 1px solid #FBF8F8;
  box-sizing: border-box;
  border-radius: 214px;
  position: absolute;
  text-align: center;
  padding: 5px 110px 5px 110px;
  left: 37%;
  font-size: 1.2em;
}

#teacherButton {
  top: 45%;
}

#studentButton {
  top: 55%;
}

.welcome {
  width: 30%;
  height: 100%;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  border-right: 1px solid #000000;
  float: left;
}

.welcome h2 {
  border: none;
}

.homeLinks {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.homeImageContainer, .studentHomeImageContainer {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  /* width: 120px; */
}

.homeImageContainer img {
  width: 50%;
  height: auto;
}

.homeImageContainer h2 {
  border: none;
  display: block;
}

/* ---------------------------- NEXT SECTION ----------------------------*/

#description {
  height: 100px;
  width: 500px;
}

.homeSidebar {
  width: 15%;
  text-align: center;
  border-right: 1px solid #000000;
}

.infoSection {
  width: 85%;
  text-align: center;
}

.infoContainer {
  display: inline-flex;
}

.task {
  width: 200px;
  background: linear-gradient(180deg, #75C286 0%, rgba(255, 255, 255, 0) 100%), #A5FFB9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  margin-bottom: 20px;
}

.taskButton, .learnButton {
  width: 150px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}

.homeSidebar h3 {
  border-bottom: 1px solid #000000;
}

.infoSection select {
  margin-right: 60px;
}

.viewTasks {
  background: #FFC9C9;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 39px;
  margin-bottom: 10px;
}

.deleteTask {
  height: 5%;
  width: 10%;
}

.jobComplete {
  width: 150px;
  background-color: green;
  padding: 10px;
  margin-bottom: 10px;
}

.learningResource {
  width: 200px;
  background: linear-gradient(180deg, #FFB03A 0%, rgba(255, 255, 255, 0) 100%), #FFE0A5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  margin-bottom: 20px;
}

#learn1 img, #learn3 img {
  width: 90%;
}

#learn2 img {
  width: 70%;
}

/* ---------------------------- TABLE ----------------------------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*adding row numbers through css*/
.css-serial {
  counter-reset: serial-number;
  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;
  /* Increment the serial number counter */
  content: counter(serial-number);
  /* Display the counter */
}
